p{
    color: rgb(113, 4, 95);
}
.para{
    color: rgb(255, 94, 0);
    font-size: auto;
    font-weight: auto;
     font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    text-decoration: underline;
}


div{
    height:auto;
    width: 50%;
    border-radius: 55px;
    padding: 50px;
    margin:5px 10px 15px 25px;
   background-color: aqua;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
    
   

   
}

div:hover
{
    background-color: rgb(240, 217, 1);
    box-shadow:15px 10px 15px 10px rgb(113, 4, 95);
    background-image:url(https://wallpaperaccess.com/full/1186908.jpg);

}
.para-two{
    margin:5px; 
    padding:5px;
}

img{
    filter: drop-shadow(15px 10px 15px rgb(113, 4, 95));

}

main{
    background-color: chocolate;
    height: auto;
    width: 650px;
    margin: 25px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    animation-name: mainanimation;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}
@keyframes mainanimation {
    0%{background-color: rgb(90, 210, 210);}
    20%{background-color: rgb(239, 26, 26);}
    40%{background-color: rgb(31, 47, 167);}
    60%{background-color: rgb(26, 205, 86);}
    80%{background-color: rgb(248, 165, 42);}
    100%{background-color: black;}
    
}